---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HtmlTag from "../components/tags/HtmlTag.astro";
import CssTag from "../components/tags/CssTag.astro";
import GoTag from "../components/tags/GoTag.astro";
import GitHubTagLink from "../components/tags/GitHubTagLink.astro";
import JavaTag from "../components/tags/JavaTag.astro";
import CppTag from "../components/tags/CppTag.astro";
import ReactTag from "../components/tags/ReactTag.astro";
import DemoTagLink from "../components/tags/DemoTagLink.astro";
import KotlinTag from "../components/tags/KotlinTag.astro";
import NotionTagLink from "../components/tags/NotionTagLink.astro";
---

<Layout title="Chae4ek" description="About me">
  <h1 class="lamp">My Projects</h1>
  <ul>
    <Card
      title="Checkers Game"
      description="Web game for 1 player with themselves."
      lastUpdateDate="Dec 2022"
      firstUploadDate="Sep 2022"
      imageUrl="/Chae4ek/assets/checkers-game.webp"
      bgColor="linear-gradient(135deg, #779569 0.22%, #f5f5e3 100.22%)"
    >
      <ReactTag slot="tags" description="There's a port to React" />
      <HtmlTag slot="tags" />
      <CssTag slot="tags" />
      <DemoTagLink
        slot="links"
        link="https://chae4ek.github.io/checkers-game"
      />
      <GitHubTagLink
        slot="links"
        link="https://github.com/Chae4ek/checkers-game"
      />
    </Card>
    <Card
      title="Wordlie Bot"
      description="Telegram bot for word game."
      lastUpdateDate="Dec 2022"
      firstUploadDate="Dec 2022"
      bgColor="linear-gradient(135deg, #65f6ff 0.22%, #d55cff 100.22%)"
    >
      <GoTag slot="tags" description="Written in Go using Telegram API" />
      <GitHubTagLink
        slot="links"
        link="https://github.com/Chae4ek/wordlie-bot"
      />
    </Card>
    <Card
      title="Mouse Wheel Emulator"
      description="Mouse wheel emulation for tablet or other devices."
      lastUpdateDate="Apr 2022"
      firstUploadDate="Mar 2022"
      bgColor="linear-gradient(135deg, #fca223 0.22%, #ff4d4d 100.22%)"
    >
      <JavaTag slot="tags" />
      <GitHubTagLink
        slot="links"
        link="https://github.com/Chae4ek/mouse-wheel-emulator"
      />
    </Card>
    <Card
      title="Coding Garden 2020"
      description="Roguelike console game with a bunch of features."
      lastUpdateDate="Sep 2020"
      firstUploadDate="Jul 2020"
      bgColor="linear-gradient(135deg, #ff4e77 0.22%, #d55cff 100.22%)"
    >
      <CppTag slot="tags" />
      <GitHubTagLink
        slot="links"
        link="https://github.com/Chae4ek/7bits-CG-2020"
      />
    </Card>
  </ul>
  <h1>Other Projects I've Worked On</h1>
  <ul>
    <Card
      title="Newston"
      description="App for searching, subscribing, reading email newsletters."
      lastUpdateDate="Aug 2022"
      firstUploadDate="Jul 2022"
      imageUrl="/Chae4ek/assets/newston.webp"
      bgColor="#000"
    >
      <KotlinTag slot="tags" />
      <DemoTagLink
        slot="links"
        link="https://drive.google.com/file/d/14nZNevK_55d4f526A_BjRn-LfdZDIqT0/view"
      />
      <NotionTagLink
        slot="links"
        link="https://omsk-community.notion.site/Newston-676c119e79434cf3a4138d62a22716e2"
      />
    </Card>
    <Card
      title="QChess"
      description="Online chess game based on MVC pattern. It has 3 smart bots to play with."
      lastUpdateDate="Sep 2021"
      firstUploadDate="Jul 2021"
      imageUrl="/Chae4ek/assets/qchess.webp"
      bgColor="linear-gradient(135deg, #e1e176 0.22%, #3eeccd 100.22%)"
    >
      <JavaTag slot="tags" />
      <GitHubTagLink slot="links" link="https://github.com/oQaris/QChess" />
    </Card>
  </ul>
</Layout>

<style lang="scss">
  :global(.dark) {
    h1 {
      text-shadow: 0 0 4rem #ffffff80;
    }
  }
  h1 {
    margin: 9.6rem 0 4.8rem 0;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    min-width: min-content;
    max-width: 120rem;
    justify-content: center;
    margin: 0 auto;
    gap: 3rem;
  }
</style>
