<button onclick="switchDarkMode()">
  <svg class="dark-icon" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M17.498 26.502c-2.5 0-4.625-.875-6.375-2.625s-2.625-3.875-2.625-6.375.875-4.625 2.625-6.375a9.006 9.006 0 0 1 7.725-2.525 5.293 5.293 0 0 0-1.638 1.888 5.31 5.31 0 0 0-.612 2.512c0 1.5.525 2.775 1.575 3.825 1.05 1.05 2.325 1.575 3.825 1.575.916 0 1.758-.204 2.525-.612a5.321 5.321 0 0 0 1.875-1.638 9.006 9.006 0 0 1-2.525 7.725c-1.75 1.75-3.875 2.625-6.375 2.625Zm0-2c1.466 0 2.783-.404 3.95-1.212a7.012 7.012 0 0 0 2.55-3.163c-.667.167-1.334.275-2 .275-2.05 0-3.796-.72-5.238-2.162-1.441-1.442-2.162-3.188-2.162-5.238 0-.667.108-1.333.275-2a7.014 7.014 0 0 0-3.163 2.55c-.808 1.167-1.212 2.483-1.212 3.95 0 1.934.683 3.584 2.05 4.95 1.367 1.367 3.017 2.05 4.95 2.05Z"
    >
    </path>
  </svg>
  <svg class="light-icon" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M17.5 20.5c.833 0 1.542-.292 2.125-.875A2.893 2.893 0 0 0 20.5 17.5c0-.833-.292-1.542-.875-2.125A2.893 2.893 0 0 0 17.5 14.5c-.833 0-1.542.292-2.125.875A2.893 2.893 0 0 0 14.5 17.5c0 .833.292 1.542.875 2.125a2.893 2.893 0 0 0 2.125.875Zm0 2c-1.383 0-2.563-.488-3.537-1.462-.975-.976-1.463-2.155-1.463-3.538s.488-2.563 1.463-3.537c.975-.975 2.154-1.463 3.537-1.463s2.563.488 3.538 1.463c.974.975 1.462 2.154 1.462 3.537s-.488 2.563-1.462 3.538c-.976.974-2.155 1.462-3.538 1.462Zm-10-4c-.557 0-1-.442-1-1s.443-1 1-1h2c.557 0 1 .442 1 1s-.443 1-1 1h-2Zm18 0c-.558 0-1-.442-1-1s.442-1 1-1h2c.558 0 1 .442 1 1s-.442 1-1 1h-2Zm-8-8c-.558 0-1-.443-1-1v-2c0-.557.442-1 1-1s1 .443 1 1v2c0 .557-.442 1-1 1Zm0 18c-.558 0-1-.442-1-1v-2c0-.558.442-1 1-1s1 .442 1 1v2c0 .558-.442 1-1 1Zm-6.35-15.95-1.075-1.05c-.408-.374-.358-1.035 0-1.425.385-.385 1.048-.411 1.425 0l1.05 1.075a1.038 1.038 0 0 1 0 1.4c-.372.406-1.012.356-1.4 0ZM23.5 24.925l-1.05-1.075c-.353-.385-.378-1.022 0-1.4.372-.406 1.012-.356 1.4 0l1.075 1.05c.408.374.358 1.035 0 1.425-.385.385-1.048.411-1.425 0ZM22.45 12.55c-.406-.372-.356-1.012 0-1.4l1.05-1.075c.374-.408 1.035-.358 1.425 0 .385.385.411 1.048 0 1.425l-1.075 1.05a1.038 1.038 0 0 1-1.4 0ZM10.075 24.925c-.385-.385-.411-1.048 0-1.425l1.075-1.05c.385-.353 1.022-.378 1.4 0 .406.372.356 1.012 0 1.4l-1.05 1.075c-.374.408-1.035.358-1.425 0Z"
    >
    </path>
  </svg>
</button>
<script is:inline>
function switchDarkMode() {
  const isDarkMode = document.documentElement.className !== "dark";
  document.documentElement.className = isDarkMode ? "dark" : "";
  localStorage.setItem("darkMode", isDarkMode);
}
</script>
<svg class="lamp" xmlns="http://www.w3.org/2000/svg">
  <path
    d="M18.5 59.197c4.453 0-.89 7.2 5.343 10.8V82.9c0 .9.89 3.6 4.451 5.4 8.64 5.557 10.351 22.32-3.424 28.047-4.04 1.68-8.7 1.68-12.74 0C-1.645 110.62.066 93.857 8.706 88.3c3.561-1.8 4.452-4.5 4.452-5.4V69.997c6.233-3.6.89-10.8 5.343-10.8Z"
  >
  </path>
  <path
    d="M18.5 0v59.197m0 0c4.453 0-.89 7.2 5.343 10.8V82.9M18.5 59.197c-4.452 0 .89 7.2-5.343 10.8V82.9m0 0c0 .9-.89 3.6-4.452 5.4-8.64 5.557-10.351 22.32 3.423 28.047a16.737 16.737 0 0 0 12.742 0c13.774-5.727 12.063-22.49 3.423-28.047-3.561-1.8-4.452-4.5-4.452-5.4m-10.684 0h10.684"
  >
  </path>
</svg>

<style lang="scss">
  button {
    border: none;
    background: none;
    z-index: 100;
    position: fixed;
    background-position: right top;
    width: 3.5rem;
    height: 3.5rem;
    top: 8.4rem;
    right: 5.1rem;
    &:hover {
      cursor: pointer;
      & ~ .lamp {
        fill: #d3d161;
        filter: drop-shadow(0 0 3.7rem #ff5100);
      }
      :global(.dark) & .dark-icon {
        filter: drop-shadow(0 0 3.7rem #fff);
      }
      :global(.dark) & ~ .lamp {
        fill: #414a96;
        filter: drop-shadow(0 0 3.7rem #fff);
      }
    }
  }
  .dark-icon,
  .light-icon {
    width: 3.5rem;
    height: 3.5rem;
    fill: #000;
  }
  .dark-icon {
    display: none;
  }
  :global(.dark) .dark-icon {
    display: flex;
    fill: #fff;
  }
  :global(.dark) .light-icon {
    display: none;
    fill: #fff;
  }
  .lamp {
    z-index: 99;
    position: fixed;
    background-position: right top;
    width: 3.7rem;
    height: 12rem;
    top: 0;
    right: 5rem;
    stroke-width: 3;
    fill: #ecea60;
    stroke: #000;
    filter: drop-shadow(0 0 4rem #fffb00);
  }
  :global(.dark) .lamp {
    fill: #333a79;
    stroke: #fff;
    filter: drop-shadow(0 0 4rem #fff);
  }
</style>
